<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/province/create">Create new Province</a>
<h1>Province</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>Xem</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="province : ${provinces}">
    <tr>
      <td th:text="${province.id}"></td>
      <td th:text="${province.name}"></td>
      <td><a th:href="@{/province/xem/{id}(id=${province.id})}">xem</a></td>
      <td><a th:href="@{/province/edit/{id}(id=${province.id})}">Edit</a></td>
      <td><a th:href="@{/province/delete/{id}(id=${province.id})}">Delete</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>