<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/create">Create new BLog</a>
<div th:if="${success}">
  <h1 th:text="${success}" style="color: red;background: aqua"></h1>
</div>
<h1>Blog</h1>
<table border="1">
  <tr>
    <th>Stt</th>
    <th>Name</th>
    <th>Tac gia</th>
    <th>Mota</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="blog : ${blogList}">
    <tr>
      <td th:text="${blog.getId()}"></td>
      <td th:text="${blog.getName()}"></td>
      <td th:text="${blog.getTacGia()}"></td>
      <td th:text="${blog.getMota()}"></td>
      <td><a th:href="@{/edit/{id}(id=${blog.getId()})}">Edit</a></td>
      <td><a th:href="@{/delete/{id}(id=${blog.getId()})}">Delete</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>