<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create question</title>
</head>
<body>
<div>
<h1>Create khuyen mai</h1>
<p>
    <a href="/list">khuyen mai list</a>
</p>

<form th:action="@{/create}" th:object="${khuyenmai}" method="post">
    <table>
        <tr>
            <td> tieu de:</td>
            <td><input type="text" th:field="*{nameKhuyenMai}"/></td>
            <td th:if="${#fields.hasErrors('nameKhuyenMai')}" th:errors="*{nameKhuyenMai}" style="color: crimson" >
            </td>
        </tr>

        <tr>
            <td>thoi gian bat dau</td>
            <td><input type="date" th:field="*{timeStar}"/></td>
            <td th:if="${#fields.hasErrors('timeStar')}" th:errors="*{timeStar}"style="color: crimson">
            </td>
        </tr>
        <tr>
            <td>thoi gian ket thuc </td>
            <td><input type="date" th:field="*{timeEnd}"/></td>
            <td th:if="${#fields.hasErrors('timeEnd')}" th:errors="*{timeEnd}"style="color: crimson">
            </td>
        </tr>
        <tr>
            <td>muc giam gia</td>
            <td><input type="text" th:field="*{mucGiamGia}"/></td>
            <td th:if="${#fields.hasErrors('mucGiamGia')}" th:errors="*{mucGiamGia}"style="color: crimson">
            </td>
        </tr>
        <tr>
            <td>chi tiet</td>
            <td><input type="text" th:field="*{chiTiet}"/></td>
            <td th:if="${#fields.hasErrors('chiTiet')}" th:errors="*{chiTiet}"style="color: crimson">
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create question"> <a href="/list"><button type="button">quay lai</button></a></td>

        </tr>
    </table>
</form>

</div>
</body>
</html>