<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<form th:object="${song}" th:action="@{/edit}" method="post" >
    <table>
        <tr>
            <td><input th:field="*{id}" type="hidden"></td>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{nameSong}"></td>
            <td th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}">Name Error</td>
        </tr>
        <tr>
            <td>Artist:</td>
            <td><input th:field="*{artistStong}"></td>
            <td th:if="${#fields.hasErrors('artistStong')}" th:errors="*{artistStong}">Name Error</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input th:field="*{category}"></td>
            <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Name Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>