<p>student-list works!</p>
<h1>Student List</h1>
<div >
<table class="table table-danger">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Marl</th>
    <th>Avatar</th>
    <th>Action</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentlist " >
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.mark}}</td>
    <td><img [src]="student.avatar" style="width: 50px ; height: 50px" ></td>
    <td><button type=button (click)="takeStuden(student)">Detail</button></td>
    <td><button>Delete</button></td>
  </tr>
  </tbody>
</table>
</div>

<h1>Detail:</h1>
<div *ngIf="student">
  <app-demo-angular [std]="student" (onchanstd)="chanedetail($event)"></app-demo-angular>
  <h1>{{chaneDetail}}</h1>
</div>
